.carousel {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffdab9;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
