{% extends "base.html" %}
{% block title %} Доступная работа {% endblock %}

{% block content %}
<a href="/add_job" class="btn btn-secondary">Добавить работу</a>
<a href="/departaments" class="btn btn-secondary">Перейти в департаменты</a>
<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
<div style="width: 60%; max-width: 800px; background-color: #f9f9f9; padding: 20px;">
<h3 align="center">Доступные задачи:</h3>
<p> </p>
    {% if not sql %}
    <h6 style="color: gray" align="center">пусто</h6>
    {% else %}
{% for i in range(sql | length) %}
    <h4>Работа # {{sql[i].id}}</h4>
    <div class="table-container">
            <div class="btn-container">
                {% if current_user.id == sql[i].team_leader or current_user.id == 1%}
                <a href="/jobs/{{sql[i].id}}" class="btn btn-secondary">Редактировать</a>
                <a href="/job_delete/{{sql[i].id}}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Суть работы</th>
                <th>ФИО лидера</th>
                <th>Длительность</th>
                <th>Сотрудники</th>
                <th>Закончена</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sql[i].job}}</td>
                <td>{% for ii in sql2 %}
                    {% if ii.id == sql[i].id %}
                      {{ ii.surname }} {{ ii.name }}
                    {% endif %}
                    {% endfor %}
                </td>
                <td>{{sql[i].work_size}}</td>
                <td>{{sql[i].collaborators}}</td>
                <td>{{sql[i].is_finished}}</td>
            </tr>
        </tbody>
    </table>
    </div>
{% endfor %}
    {% endif %}
</div>
</div>
{% endblock %}