<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
    <h1>Миссия Колонизация Марса</h1>
    <h4><span style="color: #999999;">И на Марсе будут яблони цвести!</span></h4>
    <h2 style="text-align: center;">Works Log</h2>
</head>
<body> {% block content %} {% endblock %} </body>
